/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* BODY */
body {
font-family: Arial, sans-serif;
background: #000;
color: white;
}

/* HEADER */
header {
background: #111;
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 15px;
}

.logo img {
height: 50px;
}

/* ICONES TOPO */
.icons {
font-size: 20px;
color: white;
}

/* BANNER */
.banner {
position: relative;
}

.banner img {
width: 100%;
height: auto;
display: block;
}

/* TEXTO SOBRE BANNER */
.banner-text {
position: absolute;
top: 30%;
left: 10%;
}

.banner-text h1 {
font-size: 34px;
font-weight: bold;
}

.banner-text p {
color: #ff2c2c;
font-size: 18px;
margin-top: 5px;
}

/* PRODUTOS */
.container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 12px;
padding: 12px;
}

/* CARD */
.card {
background: #111;
padding: 10px;
border-radius: 10px;
text-align: center;
transition: 0.3s;
}

.card:hover {
transform: scale(1.05);
}

/* IMAGEM PRODUTO */
.card img {
width: 100%;
border-radius: 10px;
}

/* NOME */
.card h4 {
margin: 8px 0;
}

/* PREÇO */
.price {
color: gold;
font-weight: bold;
}

/* BOTÃO */
button {
background: #ff2c2c;
color: white;
border: none;
padding: 8px;
width: 100%;
border-radius: 5px;
margin-top: 5px;
cursor: pointer;
transition: 0.2s;
}

button:hover {
background: #cc0000;
}

/* WHATSAPP */
.whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
background: green;
padding: 15px;
border-radius: 50%;
color: white;
text-decoration: none;
font-size: 18px;
}

/* RESPONSIVO (CELULAR) */
@media (max-width: 600px) {
.banner-text h1 {
font-size: 24px;
}

.banner-text p {
font-size: 14px;
}
}